<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- Stage -->
    <add key="EnvironmentUrl" value="https://dc.stage-asicentral.com/v1/suppliers" />
    <!-- Production -->
    <!--<add key="EnvironmentUrl" value="https://dc.asicentral.com/v1/suppliers" />-->
  </appSettings>
</configuration>